body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    color: #424456;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EAE8E4;
}

.container header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    background-color: #2C2E38;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.442) 0px 2px 20px 0px;
}

.container footer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    background-color: #2C2E38;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    font-weight: lighter;
    font-size: 13px;
}

h2 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.fields {
    display: flex;
    margin-top: 10px;
    text-align: left;
    padding: 0;
    justify-content: space-around;
    width: 80%;
}

.ponctuation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.ponctuation input {
    margin-left: 10px;
    border: 1px solid #656982;
    margin-right: 10px;
    background-color: transparent;
    accent-color: #ffcc1576;
    cursor: pointer;
}

.ponctuation p {    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

form {
    margin: 0 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.generate-button {
    margin: 20px 0;
    padding: 10px 20px;
    border: transparent;
    border-radius: .4em;
    background-color: #2c2e387d;
    color: white;
    font-family: 'Rubik', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 2px 10px 1px;
    width: 100px;
}

.generate-button:hover {
    background-color: #ffcc1576;
    transition: 0.2s;
    color: #424456;
}

.generated-doc {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #ffcc1576;
    border-radius: .4em;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.36) 0px -0px 10px 2px;
}

.generated-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bolder;
}